@import "tailwindcss";

/* Paleta de cores do projeto */
@theme {
  /* Primary Colors */
  --color-primary-1: #5cf28e;
  --color-primary-2: #50c878;
  --color-primary-3: #33824d;

  /* Black & Dark */
  --color-black: #0a0a0a;
  --color-black-70: #0a0a0ab3;
  --color-black-40: #0d0d0d66;
  --color-black-20: #0d0d0d33;
  --color-dark: #002329;

  /* White */
  --color-white: #fafafa;
  --color-white-75: #ffffffbf;
  --color-white-20: #ffffff33;
  --color-white-12: #ffffff1f;

  /* Grey */
  --color-grey: #f5f5f5;
}

/* Base tipográfica global */
html {
  font-size: 16px;
}